@media (max-width:1200px) {
    .page-width {
        padding: 0 50px;
    }

    .grid-col-3-laptop .grid-item {
        width: calc(33.3% - 10px);
        max-width: calc(33.3% - 10px);
    }

    .grid-col-2-laptop .grid-item {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .grid-col-1-laptop .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .laptop-align-C {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-btn-wraper {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .footer-contact-wraper {
        justify-content: center;
        align-items: center;
    }

    .terms-service-wraper {
        justify-content: center;
    }

    .payment-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .leptop-hide {
        display: none;
    }

    .desktop-hide {
        display: block;
    }

    .header-logo-wraper {
        width: 15%;
    }

    .banner-text-wraper {
        max-width: 300px;
        padding: 20px;
        gap: 15px;
    }

    .category-btn-wraper {
        display: flex;
        justify-content: center;
    }

    .image-with-text {
        justify-content: space-between;
    }

    .banner-text-wraper2 {
        max-width: 400px;
    }

    .insta-feed-media-wraper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }

    .payment-card {
        display: flex;
        justify-content: center;
    }

    .h3 {
        font-size: var(--secendary-heading-size);
    }

    .h5 {
        font-size: 10px;
        letter-spacing: 0.1px;
    }

    .primary-btn {
        padding: 6px 10px;
        border-radius: 3px;
        width: 100%;
        font-size: 10px;
    }

    .icon-with-text-wraper {
        padding: 0;
        text-align: center;
    }

    .icon {
        max-width: 20px;
        display: flex;
        max-height: 20px;
    }

    .icon-wraper {
        display: flex;
        max-width: 40px;
        max-height: 40px;
    }

    .relative {
        width: 40%;
    }

    .image-with-text-media-second-wraper,
    .image-with-text-media-first-wraper {
        position: static;
        width: 100%;
    }

    .scrolling-with-image,
    .image-with-text-media-wraper {
        flex-direction: column;
        gap: 40px;
    }

}

@media (max-width:750px) {
    .banner-background {
        aspect-ratio: 3/2;
    }

    .icon {
        max-width: 15px;
        max-height: 15px;
    }

    .page-width {
        padding: 0 20px;
    }

    .contact-us {
        padding: 40px 0;
    }

    span.hembergan-wraper {
        display: flex;
        max-width: 20px;
        max-height: 20px;
    }

    .grid-col-1-mobile .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .grid-col-2-mobile .grid-item {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .relative {
        width: 60%;
    }

    .banner-text-wraper2 {
        padding: 10px;
    }

    .scrolling-with-image-text {
        margin: auto;
        width: 100%;
        padding: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        position: static;
    }

    .non-scrolling-wraper {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        text-align: center;
    }

    .image-with-text-content-point-wraper {
        flex-direction: row;
    }
}