* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
}

span,
a {
    display: inline-block;
    color: inherit;
}

@font-face {
    font-family: "Americana Font";
    src: url(../assite/fonts/americanabt_roman.ttf);
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../assite/fonts/NunitoSans-Regular.ttf);
}

:root {
    --background-primary: #E9F6FB;
    --background-secendary: #26A3DB;
    --foreground-primary: #FFFFFF;
    --foreground-secendary: #000309;
    /* --------font------- */
    --primary-heading-size: 36px;
    --secendary-heading-size: 28px;
    --font-primary-weight: 500;
    --font-secendary-weight: 400;
    --subheading-regular: 16px;
    --subheading-large: 20px;
    --font-family-primary: "Americana Font";
    --font-family-secendary: "Nunito Sans";
    /*-------button------ */
    --btn-font-size: 16px;
    --btn-padding: 13px 36px;
    --btn-primary-color: #ffffff;
    --btn-secendary-color: #000000;
    --primary-btn-bg: #26A3DB;
    --hover-btn-bg: #a3c2ce;
    /* --------gap------------ */
    --row-gap: 10px;
    --clo-gap: 10px;
}


.h3 {
    font-size: var(--primary-heading-size);
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
}

.h4 {
    font-size: var(--subheading-large);
    font-family: var(--font-family-primary);
    font-weight: var(--font-secendary-weight);
    line-height: 100%;
    letter-spacing: 0;
}

.h5 {
    font-size: var(--subheading-regular);
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    line-height: 26px;
    letter-spacing: -0.7px;
}

.h6 {
    font-size: 18px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    font-style: Regular;
    line-height: 100%;
    letter-spacing: 0;
}

.color-schima-1 {
    --color-background: #26A3DB;
    --color-forground: #fff;
    --primary-btn-bg: #FFFFFF;
    --btn-primary-color: #000309;

}

.gredient {
    color: var(--color-forground);
    background-color: var(--color-background);
}

.object-fit {
    object-fit: cover;
}

.desktop-hide {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--clo-gap);
}

.page-width {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 130px;
}

.grid-col-4-desktop .grid-item {
    width: calc(25% - var(--row-gap));
    max-width: calc(25% - var(--row-gap));
}


.grid-col-6-desktop .grid-item {
    width: calc(16.66% - 10px);
    max-width: calc(16.66% - 10px);
}

.grid-col-2-desktop .grid-item {
    width: calc(50% - var(--row-gap));
    max-width: calc(50% - var(--row-gap));
}

.annusment-bar {
    background-color: var(--background-secendary);
    color: var(--btn-primary-color);
    padding: 10px 0;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    font-size: 14px;
    justify-content: center;
    display: flex;
}

.banner-wraper {
    position: relative;
    top: 0;
}

.contact-links {
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.icon-with-text-wraper {
    padding: 0 55px;
}

.header-logo-wraper {
    width: 38%;
}

.header-inner {
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.primary-btn {
    padding: 13px 36px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-btn-bg);
    color: var(--btn-primary-color);
    font-size: var(--btn-font-size);
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    font-style: Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    letter-spacing: 0;
}

.align {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.justify-C {
    display: flex;
    justify-content: center;
}

.gap-20 {
    display: flex;
    gap: 20px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.flex-col {
    flex-direction: column;
}

.header-icon-wraper {
    display: flex;
    gap: 30px;
    justify-content: end;
}

.logo-wraper {
    width: 100%;
    display: flex;
}


.banner-background {
    position: relative;
    z-index: -1;
}

.flex {
    display: flex;
}

.header {
    position: absolute;
    padding: 15px 0;
    left: 0;
    right: 0;
    color: #ffffff;
    max-width: 1600px;
    margin: auto;
    font-size: 14px;
    font-family: var(--font-family-secendary);
}

.banner-text-outer {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.banner-text-wraper {
    position: absolute;
    top: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    transform: translateY(-50%);
    padding: 120px;
    max-width: 400px;
}

.banner-btn-wraper {
    max-width: 148px;
    max-height: 48px;
    width: 100%;
}

.font-white {
    color: #fff;
}

.icon-with-text-section {
    background-color: var(--background-primary);
    padding: 20px 0;
}

.footer-primary-wreper {
    padding: 80px;
}

.footer-logo {
    max-width: 123.61px;
    max-height: 60px;
    display: inline-block;
}

.footer-primary-heading {
    font-size: 16px;
    color: inherit;
    font-family: var(--font-family-secendary);
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: Regular;
}

.footer-form-email::placeholder {
    color: #fff;
}

.footer-form-email {
    padding: 13px 15px 13px 5px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--font-family-secendary);
    line-height: 100%;
    font-style: normal;
    letter-spacing: 0;
    width: 75%;
}

.footer-btn-wraper {
    width: 44.35%;
}

.border-top {
    border-top: 1px solid white;
}

.payment-footer {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}

.country-selecter {
    padding: 10px;
    border-radius: 5px;
    background: var(--color-background);
    color: var(--color-forground);
    border: 1px solid #fff;
    font-size: 12px;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}