* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
}

span,
a {
    display: inline-block;
    color: inherit;
}

@font-face {
    font-family: "Americana Font";
    src: url(../assite/fonts/americanabt_roman.ttf);
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../assite/fonts/NunitoSans-Regular.ttf);
}

:root {
    --background-primary: #E9F6FB;
    --background-secendary: #26A3DB;
    --foreground-primary: #FFFFFF;
    --foreground-secendary: #000309;
    /* --------font------- */
    --primary-heading-size: 36px;
    --secendary-heading-size: 28px;
    --font-primary-weight: 500;
    --font-secendary-weight: 400;
    --subheading-regular: 16px;
    --subheading-large: 20px;
    --font-family-primary: "Americana Font";
    --font-family-secendary: "Nunito Sans";
    /*-------button------ */
    --btn-font-size: 16px;
    --btn-padding: 13px 36px;
    --btn-primary-color: #ffffff;
    --btn-secendary-color: #000000;
    --primary-btn-bg: #26A3DB;
    --hover-btn-bg: #a3c2ce;
    /* --------gap------------ */
    --row-gap: 10px;
    --clo-gap: 10px;
}


.h3 {
    font-size: var(--primary-heading-size);
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
}

.h4 {
    font-size: var(--subheading-large);
    font-family: var(--font-family-primary);
    font-weight: var(--font-secendary-weight);
    line-height: 100%;
    letter-spacing: 0;
}

.h5 {
    font-size: var(--subheading-regular);
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    line-height: 26px;
    letter-spacing: -0.7px;
}

.h6 {
    font-size: 18px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    font-style: Regular;
    line-height: 100%;
    letter-spacing: 0;
}

.blog-content-heading {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.color-scheme-1 {
    --color-background: #26A3DB;
    --color-forground: #fff;
}

.color-scheme-2 {
    --color-background: #F9F9F9;
    --color-forground: #000309;
}

.color-scheme-3 {
    --color-background: #E9F6FB;
    --color-forground: #000309;
}

.gredient {
    color: var(--color-forground);
    background-color: var(--color-background);
}

.object-fit {
    object-fit: cover;
}

.desktop-hide {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--clo-gap);
}

.page-width {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 130px;
}

.grid-col-4-desktop .grid-item {
    width: calc(25% - var(--row-gap));
    max-width: calc(25% - var(--row-gap));
}


.grid-col-6-desktop .grid-item {
    width: calc(16.66% - 10px);
    max-width: calc(16.66% - 10px);
}

.grid-col-2-desktop .grid-item {
    width: calc(50% - var(--row-gap));
    max-width: calc(50% - var(--row-gap));
}

.annusment-bar {
    background-color: var(--background-secendary);
    color: var(--btn-primary-color);
    padding: 10px 0;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    font-size: 14px;
    justify-content: center;
    display: flex;
}

.banner-wraper {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.contact-links {
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.icon-with-text-wraper {
    padding: 0 55px;
}

.header-logo-wraper {
    width: 38%;
}

.header-inner {
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.primary-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-btn-bg);
    color: var(--btn-primary-color);
    font-size: var(--btn-font-size);
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    font-style: Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    letter-spacing: 0;
    width: 100%;
}

.underline-btn {
    padding-bottom: 13px;
    border-bottom: 1px solid black;
    color: black;
    font-size: var(--btn-font-size);
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    font-style: Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    width: fit-content;
}

.align {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.justify-C {
    display: flex;
    justify-content: center;
}

.gap-20 {
    display: flex;
    gap: 20px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.flex-col {
    flex-direction: column;
}

.header-icon-wraper {
    display: flex;
    gap: 30px;
    justify-content: end;
}

.logo-wraper {
    width: 100%;
    display: flex;
}


.banner-background {
    position: relative;
    z-index: -1;
}

.relative {
    position: relative;
    width: 25%;
    text-align: center;
}

.flex {
    display: flex;
}

.header {
    position: absolute;
    padding: 15px 0;
    left: 0;
    right: 0;
    color: #ffffff;
    max-width: 1600px;
    margin: auto;
    font-size: 14px;
    z-index: 10;
    font-family: var(--font-family-secendary);
}

.review-box-wraper {
    padding: 80px 0;
}

.banner-text-outer {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.banner-text-wraper {
    position: absolute;
    top: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    transform: translateY(-50%);
    padding: 120px;
    max-width: 400px;
}

.banner-text-wraper2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 120px;
    max-width: 550px;
}

.banner-btn-wraper {
    max-width: 148px;
    max-height: 48px;
    width: 100%;
}


.font-white {
    color: #fff;
}

.icon-with-text-section {
    background-color: var(--background-primary);
    padding: 20px 0;
}

.footer-primary-wreper {
    padding: 80px;
}

.footer-logo {
    max-width: 123.61px;
    max-height: 60px;
    display: inline-block;
}

.footer-primary-heading {
    font-size: 16px;
    color: inherit;
    font-family: var(--font-family-secendary);
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: Regular;
}

.footer-form-email::placeholder {
    color: #fff;
}

.footer-form-email {
    padding: 13px 15px 13px 5px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--font-family-secendary);
    line-height: 100%;
    font-style: normal;
    letter-spacing: 0;
    width: 75%;
}

.footer-btn-wraper {
    width: 44.35%;
}

.border-top {
    border-top: 1px solid white;
}

.payment-footer {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}

.country-selecter {
    padding: 10px;
    border-radius: 5px;
    background: var(--color-background);
    color: var(--color-forground);
    border: 1px solid #fff;
    font-size: 12px;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.mySwiper span.swiper-pagination-bullet {
    color: #fff;
    background: white;
    width: 15px;
    height: 15px;
}

.category-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}


.swiper-button-next.swiper-button::after,
.swiper-button-prev.swiper-button::after {
    display: none;
}

.category-card-text {
    font-size: 20px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    line-height: 100%;
    letter-spacing: 0%;
}

.category-wraper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
}

.featured-content {
    font-size: 14px;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    letter-spacing: 0;
    line-height: 100%;
}

.color-gray {
    color: #8A9099;
}

.icon-with-text2-wraper {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolling-with-image,
.contact-us {
    padding: 80px 0;
}

.contact-us-pera {
    text-align: -webkit-center;
    max-width: 55%;
    margin: auto;
    font-family: var(--font-family-secendary);
    font-weight: var(--font-secendary-weight);
    font-size: 14px;
    line-height: 100%;
    font-style: "Regular";
}

.contact-us-heading {
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.blue-text {
    font-family: var(--font-family-secendary);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--background-secendary);
}

.rich-text {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-primary);
    font-weight: 700;
}

.rich-text-content {
    font-family: var(--font-family-primary);
    font-weight: var(--font-primary-weight);
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    max-width: 900px;
}

.banner-content-ab {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.review-section-outer,
.image-with-text-2 {
    padding: 80px 0;
    display: flex;
    gap: 60px;
    width: 100%;
}

.image-with-text {
    padding: 80px 0;
    display: flex;
    gap: 20px;
    width: 100%;
}

.media {
    display: inline-block;
    width: 100%;
}

.image-with-text-media-first-wraper {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 30%;
    z-index: 1;
}

.image-with-text-media-second-wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    z-index: -1;
}

.margin-auto {
    margin: auto;
}

.image-with-text-content-wraper {
    padding: 81px 0;
}

.scrolling-with-image-text {
    position: sticky;
    top: 10%;
    left: 0;
    right: 0;
    padding: 60px;
    transform: translateY(20%, 20%);
}

.scrolling-images-wraper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.for-next::after,
.for-prev::after {
    display: none;
}

.for-next {
    position: relative;
    height: 30px;
    width: 30px;
    top: 28px;
    bottom: 0;
    left: 40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.for-prev {
    rotate: 180deg;
    position: relative;
    height: 30px;
    width: 30px;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-swiper {
    width: 100%;
}

.insta-feed-wraper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
}

.insta-feed-width {
    max-width: 1600px;
    padding: 20px;
    margin: 0 auto;
}

.blog-wraper {
    padding: 80px 0;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.blog-wrap {
    display: flex;
    gap: 40px;
}

.bg-white {
    background-color: #E9F6FB;
    color: #000000;
}

.primary-btn:hover {
    background-color: #87a5b3;
    color: #fff;
}

.underline-btn:hover {
    color: rgb(189, 84, 23);
    border-bottom-color: rgb(189, 84, 23);
}

.age-varification-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    background: rgba(32, 33, 34, 0.95);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
}

.error-popup-wraper,
.welcome-popup-wraper,
.age-varification-header {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background: var(--background-primary);
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 8px 1px white;
}

.age-varification-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.age-box {
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.error-cover,
.welcome {
    display: none;
}

/* .outline-btn {
    padding: 10px 25px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
} */
.outline-btn {
    z-index: -1;
    padding: 10px 25px;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.705);
    border-radius: 5px;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    transform: translateY(-90%);
    transition: all 0.2s ease-in-out;
    font-family: var(--font-family-secendary);
    font-weight: 300;
}
.category-card-media-wraper:hover .outline-btn{
    z-index: 0;
}
.quick-btn-wraper{
    position: relative;
    width: 100%;
}